@model List<Contact>
@{
    ViewData["Title"] = "Contacts";
}

@*<h2>Contact List</h2>*@
<a class="btn btn-secondary mt-4" asp-controller="Contact" asp-action="Add">Add New Contact</a>
<table class="table table-bordered my-4 table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Category</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">
                    <a style="text-decoration:none" asp-controller="Contact" asp-action="Details"
                   asp-route-id="@obj.ContactId"
                   asp-route-slug="@obj.Slug">@obj.FirstName</a>
                </td>
                <td width="30%">
                    <a style="text-decoration:none" asp-controller="Contact" asp-action="Details"
                   asp-route-id="@obj.ContactId"
                   asp-route-slug="@obj.Slug">@obj.LastName</a>
                </td>
                <td width="30%">
                    @obj.Phone
                </td>
                <td width="30%">
                    @obj.Email
                </td>
                <td width="30%">
                    @obj.Category.CategoryName
                </td>
                <td width="30%">
                    @obj.Organization
                </td>
            </tr>
        }
    </tbody>
</table>